<!DOCTYPE html>
<html>

<body>
    <header class="bg-dark" th:fragment="header">
        <div class="p-1 text-white text-center" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="row justify-content-center">
                <div class="col-md-30 p-3">
                    <h1>Programme annuel des étudiants</h1>
                </div>
                <div class="col-md-30 p-3">
                    <img th:src="@{/img/logo-esi.png}" width=80px>
                </div>
            </div>
            <h6>HE2B-ESI / WEBG6</h6>
        </div>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a class="navbar-brand" href="/">
                <i class="fas fa-home"></i>
            </a>
            <!-- Links -->
            <ul th:replace="fragments/nav.html :: nav-default" />
            <!-- Links -->
        </nav>
        <!-- Navbar -->
    </header>
</body>

</html>