<!DOCTYPE html>
<html>

<body>
    <header class="bg-dark" th:fragment="header">
        <div class="p-1 text-white text-center d-none d-sm-block" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="row justify-content-center">
                <div class="col-md-auto p-1">
                    <h1>Programme annuel des étudiants</h1>
                </div>
                <div class="col-md-auto p-2">
                    <img th:src="@{/img/logo-esi.png}" width=80px>
                </div>
            </div>
            <div class="row justify-content-center p-1">
            <h6>HE2B-ESI / WEBG6</h6>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">
                    <i class="fas fa-home"></i>
                </a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Links -->
                    <ul th:replace="fragments/nav.html :: navbar-user"></ul>
                    <!-- Links -->
                </div>
                
            </div>
        </nav>
        <!-- Navbar -->
    </header>
</body>

</html>