<!DOCTYPE html>
<html lang="en">

<body>

    <!-- User navbar-->
    <ul class="navbar-nav" th:fragment="navbar-user">

        <!-- Course nav dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="courseDropdownMenuLink" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" role="button">
                Cours
            </a>

            <ul class="dropdown-menu fade-up" aria-labelledby="courseDropdownMenuLink" role="menu">
                <li><a class="dropdown-item" href="/courses">Search</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/courses/management">Gestion</a></li>
                <li><a class="dropdown-item" href="/courses/network">Reseau</a></li>
                <li><a class="dropdown-item" href="/courses/industrial">Industrielle</a></li>
            </ul>
        </li>
        <!-- End of Course nav dropdown -->

        <!-- Student nav item -->
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="courseDropdownMenuLink" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" role="button">
                Simulateur de PAE
            </a>
            <ul class="dropdown-menu fade-up" aria-labelledby="courseDropdownMenuLink" role="menu">
                <li><a class="dropdown-item" href="/program?section=MANAGEMENT">Gestion</a></li>
                <li><a class="dropdown-item" href="/program?section=NETWORK">Reseau</a></li>
                <li><a class="dropdown-item" href="/program?section=INDUSTRIAL">Industrielle</a></li>
            </ul>

        </li>
        <!-- End Student nav item -->

    </ul>
    <!-- End of User navbar-->


</body>

</html>