<!DOCTYPE html>
<html lang="en">

<body>

    <!-- User navbar-->
    <ul class="navbar-nav" th:fragment="nav-default">
        <li class="nav-item">
            <a class="nav-link" href="/course">Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student">Etudiants</a>
        </li>
    </ul>
    <!-- End of User navbar-->

    <!-- Admin navbar-->
    <ul class="navbar-nav" th:fragment="nav-admin">
        <li class="nav-item">
            <a class="nav-link" href="/admin/course">Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/student">Etudiants</a>
        </li>
    </ul>
    <!-- End of Admin navbar-->


</body>

</html>