<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<head>
    <title>Cours</title>
</head>

<body>
    <main layout:fragment="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card">

                    <div class="card-header">
                        <h1>
                            <span>Liste des cours</span>
                            <span th:switch="${section.name}">
                                <td th:case="GESTION">de Gestion</td>
                                <td th:case="INDUSTRIELLE">d'Industrielle</td>
                                <td th:case="RESEAU">de Réseau</td>
                            </span>
                        </h1>
                    </div>

                    <div class="card-body">
                        <!-- List of Courses-->
                        <table>
                            <tr>
                                <th>Sigle</th>
                                <th>Titre</th>
                                <th>Ects</th>
                            </tr>
                            <tr th:each="course: ${courses}">
                                <td th:text="${course.id}">id</td>
                                <td th:text="${course.title}">title</td>
                                <td th:text="${course.credits}">credits</td>
                            </tr>
                        </table>
                        <!-- End of List of Courses-->
                    </div>

                    <div class="card-footer">
                        esi@he2b.be
                        <br>
                        +32 (0)2 219 15 46
                        <br>
                        Rue Royale 67
                        1000 Bruxelles
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>


</html>