<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/course}">

<body>
    <div class="card-header" layout:fragment="card-header">
        <h1>Recherche de cours</h1>

        <!-- Form for Courses-->

        <form class="form-horizontal shadow" th:action="@{/course}" method="get">
            <div class="input-group">
                    <select id="filterType" class="form-select bg-light text-secondary" aria-label="Default select" name="filter">
                        <option value="id">Id</option>
                        <option value="title">Title</option>
                    </select>
                
                <input class="form-control " type="search" placeholder="Search" aria-label="Search" name="field">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <!-- End of Form for Courses-->
    </div>

    <div class="card-body" layout:fragment="card-body">

        <h4>Liste des résultats</h4>

        <div th:if="${not #lists.isEmpty(courses)}">
            <table th:replace="fragments/course_list.html :: course_table"></table>
        </div>

        <div th:unless="${not #lists.isEmpty(courses)}">
            <span>Aucun résultat trouvé</span>
        </div>

    </div>
</body>

</html>