<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/course}">

<body>
    <div class="card-header" layout:fragment="card-header">
        <h1>Recherche de cours</h1>

        <!-- Form for Courses-->
        <form class="form-inline" th:action="@{/course}" th:object="${course}" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:field="*{id}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- End of Form for Courses-->
    </div>

    <div class="card-body" layout:fragment="card-body">

        <h4>Liste des résultats</h4>

        <div th:if="${not #lists.isEmpty(courses)}">
            <table th:replace="fragments/course_list.html :: course_table"></table>
        </div>

        <div th:unless="${not #lists.isEmpty(courses)}">
            <span>Aucun résultat trouvé</span>
        </div>

    </div>
</body>

</html>