<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<head>
    <title>Etudiants</title>
</head>

<body>
    <main layout:fragment="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-header">
                        <h1>Liste des étudiants</h1>
                    </div>
                    <div class="card-body">
                        
                    </div>
                    <div class="card-footer">
                            esi@he2b.be
                            <br>
                            +32 (0)2 219 15 46
                            <br>
                            Rue Royale 67
                            1000 Bruxelles
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>


</html>