<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main}">

<head>
    <title>Etudiants</title>
</head>

<body>
    <main layout:fragment="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card">

                    <div class="card-header">
                        <h1>Liste des étudiants</h1>
                    </div>

                    <div class="card-body" layout:fragment="card-body">
                        <table th:replace="fragments/student_list.html :: student_table"></table>
                    </div>

                    <div class="card-footer" th:replace="fragments/esi_contact.html :: contact"></div>
                </div>
            </div>
        </div>
    </main>
</body>


</html>